<div class="container-sm" >
  <div style="margin-top: 100px; margin-left: auto; margin-right: auto; width: 400px; border: 1px solid #ced4da; padding: 20px;">
      <div class="mb-3">
        <blockquote class="blockquote">
          <p>Enter your username and password</p>
        </blockquote>
        <input type="text" class="form-control" id="inputUsername" placeholder="username" #newUsername>
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="inputPassword" placeholder="password" #newPassword>
      </div>
      <div class="clearfix">
        <button (click)="loginUser(newUsername, newPassword)" class="btn btn-primary float-end">Sign in</button>
      </div>
  </div>
</div>
