<div class="container-sm" >
  <div class="login">
      <div class="mb-3">
        <blockquote class="blockquote">
          <p>Enter your username and password</p>
        </blockquote>
        <input type="text" class="form-control" id="inputUsername" placeholder="username" #newUsername>
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="inputPassword" placeholder="password" #newPassword>
      </div>
      <div class="clearfix">
        <label *ngIf="errorMessage.length > 0">{{errorMessage}}</label>
        <button (click)="loginUser(newUsername, newPassword)" class="btn btn-primary float-end">Sign in</button>
      </div>
  </div>
</div>
